<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN">

<html lang="en">
<head>
  <title>XKCD Comic</title>
  <style type="text/css">
  {$css}
  </style>
</head>

<body>
  <div class='content'>
    <div class='header'>
      <div class="header-1">
        <img src="https://xkcd.com/s/0b7742.png" class="xkcd_logo"
        alt="xkcd_logo">
      </div>

      <div class="header-2">
        <h2>A webcomic of romance, sarcasm, math, and language</h2>

        <h1>Welcome to XKCD Newsletter</h1>
      </div>
    </div>

    <div class="news-section">

            <p>Confirm your subscription by clicking on the link
      below</p>
      <div class="description">

        <a href="{$validationURL}">Verify Email Address</a>
      </div>
    </div>

    <div class="footer">
     <h2></h2>
    </div>
  </div>
</body
</html>
